---
layout: course
title: Mind
---

<h1> Philosophy of Mind</h1>
David Chalmers keeps an exhaustive website about online resources for the philosophical study of mind. Some salient pages from his website:
Guide to the philosophy of mind
Online papers on consciousness
Web resources
Dictionary of Philosophy of Mind


<h1>Weekly Work</h1>

<ol>
  {% for page in site.data.mind-week %}
    <li>
     <a href="{{site.baseurl}}/Teaching/Mind/{{page.folder}}/">{{page.title}}</a>
      {{page.content | markdownify}}
    </li>
  {% endfor %}
</ol>



<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>


