---
layout: course
title: Mind
meta: The most recent news and developments related to planetary objects of the universe.
changefreq: weekly
---

<h1>Planetary News</h1>

<ul>
  {% for news in site.categories.news %}
    <li>
      <a href="{{site.baseurl}}{{news.url}}">{{news.title}}</a>
      <p>{{news.meta}}</p>
    </li>
  {% endfor %}
</ul>


<h2>Weekly Work</h2>

<ol>
  {% for page in site.data.week %}
    <li>
     <a href="{{site.baseurl}}/Teaching/Mind/{{page.folder}}/">{{page.title}}</a>
      {{page.content | markdownify}}
    </li>
  {% endfor %}
</ol>
