
/* ### __ADMIN TOOLBOX__ ### */

#admin_toolbox {
	position: fixed;
	top: 35px;
	right: 10px;
	width: 200px;
	z-index: 500;
	background-color: #404040;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: left;
	font: normal 12px/14px Arial, Verdana, sans-serif !important;
}

#admin_toolbox h2 {
	color: #FFF;
	font: normal 14px/16px Arial, Verdana, sans-serif !important;
	padding: 5px 0 5px 10px;
	margin: 0;
	position: relative;
}

#admin_toolbox h2 a {
	position: absolute;
	top: 5px;
	right: 5px;
	display: block;
	width: 16px;
	height: 16px;
	text-indent: -9999em;
	background: url(../img/admin/ico_toggle_open.png) center center no-repeat;
}

#admin_toolbox h2 a.close {
	background: url(../img/admin/ico_toggle_close.png) center center no-repeat;
}

#admin_toolbox ul {
	margin: 0;
	padding: 5px 0;
	list-style-type: none;
}

#admin_toolbox ul li a {
	color: #FFF;
	display: block;
	text-decoration: none;
	border: none;
	padding: 5px 0 5px 40px;
	background-position: 10px center;
	background-repeat: no-repeat;
}

#admin_toolbox ul li a:hover {
	text-decoration: none;
	border: none;
	background-color: #EEE;
	color: #404040;
	border-width: 0 !important;
}

#admin_toolbox ul li a.tb_add {
	background-image: url(../img/admin/ico_page_add.png);
}

#admin_toolbox ul li a.tb_edit {
	background-image: url(../img/admin/ico_page_edit.png);
}

#admin_toolbox ul li a.tb_add_sub {
	background-image: url(../img/admin/ico_sitemap.png);
}

#admin_toolbox ul li a.tb_add_link {
	background-image: url(../img/admin/ico_link_add.png);
}

#admin_toolbox ul li a.tb_publish {
	background-image: url(../img/admin/ico_publish.png);
}

#admin_toolbox ul li a.tb_logout {
	background-image: url(../img/admin/ico_logout.png);
}

#admin_toolbox ul li a.tb_cms {
	background-image: url(../img/admin/ico_cms.png);
}

#admin_toolbox ul li a.tb_copy {
	background-image: url(../img/admin/ico_copy.png);
}

#admin_toolbox ul li a.tb_list {
	background-image: url(../img/admin/ico_list.png);
}

#admin_toolbox ul li a.tb_site_edit {
	background-image: url(../img/admin/ico_site_edit.png);
}

#admin_toolbox ul li a.tb_site_approve {
	background-image: url(../img/admin/ico_approve.png);
}

#admin_toolbox ul li a.tb_site_decline {
	background-image: url(../img/admin/ico_decline.png);
}

#admin_toolbox ul li a.tb_wizard {
	background-image: url(../img/admin/ico_wizard.png);
}

/* END SIDEBAR ADMIN TOOLBOX */

.cake-sql-log {
	background-color:#000;
	color:#FFF;
	border-collapse:collapse;
	margin: 0 auto;
	width: 85%;
	text-align: left;
}

.cake-sql-log caption {
	background-color:#900;
	color:#FFF;
}

.cake-log-container {
	display: none;
	position: fixed;
	left: 0;
	bottom: 0;
	height: 1px;
	border-top: 5px solid #bbb;
	overflow: hidden;
	text-align: center;
	width: 100%;
	margin-bottom: -1px;
	background-color: #eee;
}

.cake-log-container:hover {
	height: 250px;
	overflow: auto;
	z-index:10;
}

.cake-sql-log td {
	padding:3px;
	border:1px solid #999;
	background-color:#fff;
	color:#000;
}