/* form content template */
	/* base tags */
div#content .form {
	font: 12px/18px Helvetica, Arial, sans-serif;
	color: #6d6d6d;
	padding-bottom: 24px;
}
div#content .form * {
	border: 0 solid #c3c3c3;
}
div#content .form caption {
	vertical-align: middle;
	text-align: left;
}
div#content .form option {
	padding-right: 1em;
}
div#content .form blockquote,
div#content .form p {
	font: 11px/18px Georgia, "Palatino", "Century Schoolbook", serif;
	color: #6d6d6d;
}
div#content .form small {
	font-size: 10px;
}
div#content .form blockquote {
	padding: 24px;
	border-color: #dfdfdf;
	border-width: 1px;
	background-color: #efefef;
}
	/* type */
div#content .form h1 {
	color: #333;
	/* use Lucida Sans if bold, italic, small, or large */
	font: bold 18px/44px "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Geneva", "Verdana", sans-serif;
	padding: 24px 0;
	margin-bottom: 12px;
	border-bottom-width: 1px;
	border-color: #dfdfdf;
}
div#content .form label {
	color: #2b2b2b;
	font: 11px/18px "Lucida Grande", "Lucida Sans Unicode", "Geneva", "Verdana", sans-serif;
}
div#content .form table caption {
	border-bottom-width: 1px;
	padding: 24px 14px 8px 14px;
	font: 11px/18px Georgia, "Palatino", "Century Schoolbook", serif;
}
div#content .form small {
	color: #797979;
}
div#content .form sup {
	color: #7a000e;
	font: 18px/18px Georgia, "Palatino", "Century Schoolbook", serif;
	vertical-align: middle;
	cursor: default;
}
	/* grid */
div#content .form fieldset {
	border-width: 1px;
	margin-bottom: 24px;
	padding: 0 24px 24px 24px;
	_padding: -24px 24px 24px 24px;
	background-color: #efefef;
	position: relative;
	line-height: 1.5em;
}
div#content .form fieldset legend {
	color: #4b4b4b;
	font: 14px/1em "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Geneva", "Verdana", sans-serif;
	border-color: #b2b2b2;
	border-width: 1px;
	padding: .5em 1em;
	background-color: #fff;
	line-height: 1.3em;
	_float:left;
	_margin-top: -1.55em;
	_position: relative;
}


div#content .form table {
	width: 100%;
}
div#content .form th {
	font-weight: normal;
	text-align: right;
	width: 300px;
}
div#content .form th,
div#content .form td {
	padding: 12px 0 0 12px;
}
div#content .form th small {
	display: block;
}
div#content .form div.row {
	padding: 12px 24px;
}
div#content .form blockquote div.row {
	padding: 12px 0 0 0;
}
div#content .form div.row input,
div#content .form div.row label {
	float: left;
	display: block;
}
div#content .form div.row_checkbox input {
	margin-top: 1px;
	margin-right: 12px;
/*	margin-left: 300px;*/
}
div#content .form div.controls {
	margin: 24px 0;
	padding: 12px 0;
	border-top-width: 1px;
}

	/* fields */
div#content .form input.text, div#content .form select, div#content .form textarea {
	border-color: #7c7c7c #c3c3c3 #ddd #ccc;
	border-width: 1px;
	color: #736767;
	font: 11px/18px "Lucida Grande", "Lucida Sans Unicode", "Geneva", "Verdana", sans-serif;
	margin-right: 12px;
}
div#content .form textarea, div#content .form input.text {
	padding: 5px;
	width: 300px;
}
div#content .form input.short {
	width: 150px;
}
div#content .form input.long {
	width: 100%;
}

	/* buttons */
div#content .form .button {
	display: -moz-inline-stack;
	display: inline-block;
	height: 30px;
	padding: 0 10px;
	margin-right: 10px;
	font: normal 13px/24px "Lucida Grande", "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
	text-align: center;
	color: #3b3b3b;
	background: #f3f3f3 url('../img/shared/btn_bg_lt.gif') 0 0 repeat-x;
	border: 1px solid #ccc;
}
div#content .form .button_hover {
	color: #a60000;
	border-color: #bb4;
	background: #ffa url('../img/shared/btn_bg_lt_over.gif') 0 0 repeat-x;
}


	/* errors and notices */
div#content .notice {
	font-size: 11px ;
	line-height: 32px;
	display: block;
	padding: 0 8px;
	margin: 8px 0;
	border-width: 1px;
}
div#content .inline {
	display: -moz-inline-stack;
	display: inline-block;
}
div#content .notice em {
	color: #2b2b2b;
}
div#content .success {
	color: #383;
	background-color: #bfa;
	border-color: #5c4;
}
div#content .warning {
	color: #883;
	background-color: #ffa;
	border-color: #bb4;
}
div#content .error {
	color: #833;
	background-color: #fbb;
	border-color: #e55;
}
