
/* ### __HORIZONTAL__ ### */

body.nav_horizontal #navbar {
	height: 28px;
}

body.nav_horizontal #navbar ul#nav li {
	float: left;
	position: relative;
}

body.nav_horizontal #navbar ul#nav li a {
	display: block;
	font-size: 16px;
	line-height: 20px;
	padding: 4px 35px;
	text-decoration: none;
	text-align: center;
}

body.nav_horizontal #navbar ul#nav li ul {
	display: none;
	position: absolute;
	top: 28px;
	left: 0;
	z-index: 999;
}

body.nav_horizontal #navbar ul#nav li:last-child ul {
	left: auto;
	right: 0;
}

body.nav_horizontal #navbar ul#nav li:hover ul {
	display: block;
}

body.nav_horizontal #navbar ul#nav li ul li {
	display: block;
	border: none;
}

body.nav_horizontal #navbar ul#nav li ul li a {
	height: 18px;
	font-size: 12px;
	line-height: 16px;
	padding: 2px 35px;
	white-space: nowrap;
	text-align: left;
}


/* ### __CONTAINERS__ ### */

body.nav_horizontal #content {
	margin: 0 15px 15px 15px;
}

body.nav_horizontal #content .main {
	padding: 20px;
}

body.nav_horizontal #content .main_side {
	float: left;
	width: 640px;
	padding: 20px 0 20px 20px;
}

body.nav_horizontal #content .sidebar {
	float: right;
	width: 220px;
	padding: 20px;
	border-left: 1px solid #EDEDED;
}

body.nav_horizontal #content .swap_cols .main_side {
	float: right;
	width: 640px;
	padding: 20px;
}

body.nav_horizontal #content .swap_cols .sidebar {
	float: left;
	width: 220px;
	padding: 20px 15px 20px 20px;
	border: none;
	border-right: 1px solid #EDEDED;
}


/* ### __CONTACT PANEL__ ### */

body.nav_horizontal #content .contact_panel {
	display: block;
	text-align: center;
	font-size: 10px;
	line-height: 16px;
	padding: 0 0 5px 0;
}

.contact_panel:last-child {
	padding: 0 0 20px 0 !important;
}

body.nav_horizontal #content .contact_panel li {
	display: inline;
	padding: 0 10px;
}

body.nav_horizontal #content .contact_panel li.phone {
	clear: both;
}


/* ### __HTML CONTAINER IMAGES__ ### */
body.nav_horizontal #content .main .html_container img {
	display: inline;
	vertical-align: baseline;
	max-width: 890px;
}

body.nav_horizontal #content .main_side .html_container img {
	display: inline;
	vertical-align: baseline;
	max-width: 630px;
}

body.nav_horizontal #content .sidebar .html_container img {
	display: inline;
	vertical-align: baseline;
	max-width: 210px;
}

body.nav_horizontal .html_container iframe, body.nav_horizontal .html_container embed, body.nav_horizontal .html_container object {
	position: relative;
}

/* ### __DIRECTORY TEMPLATE__ ### */

body.nav_horizontal .directory .entry .content {
	margin: 0 0 0 230px;
}

body.nav_horizontal .directory .entry .no_float {
	margin: 0;
}
