/***********************************
*         FONT STYLES
************************************/

body {
	font: normal 12px/1.5em Georgia, Times, "Times New Roman", serif;
}

p {
	font: normal 1.05em/1.6em Georgia, Times, "Times New Roman", serif;
}

p.intro, .intro p {
	font: normal 1.3em/1.6em Georgia, Times, "Times New Roman", serif;
}

small, address {
	font: normal 0.95em/1.2em Georgia, Times, "Times New Roman", serif;
}

b, strong {
	font-weight: bold;
}

em, i, address {
	font-style: italic;
}

u {
	text-decoration: underline;
}

h1 {
	font: normal 3em/1em Georgia, Times, "Times New Roman", serif;
	padding: 0 0 15px 0;
	color:#900;
}

h2 {
	font: normal 2em/1em Georgia, Times, "Times New Roman", serif;
	padding: 24px 0 12px 0;
	color:#444;
	font-weight:bold;
}

h3 {
	font: normal 1.7em/1em Georgia, Times, "Times New Roman", serif;
	padding: 18px 0 10px 0;
	color:#900;
	font-weight:bold;
	text-transform:uppercase;
}

h4 {
	font: normal 1.3em/1em Georgia, Times, "Times New Roman", serif;
	padding: 0 0 8px 0;
	color:#444;
	font-weight:bold;
	text-transform:uppercase;
}

h5 {
	font: normal 1.0em/1em Georgia, Times, "Times New Roman", serif;
	padding: 0 0 5px 0;
	color:#444;
	font-weight:bold;
	text-transform:uppercase;
}

h6 {
	font: bold 1.2em/1em Georgia, Times, "Times New Roman", serif;
	color:#666;
	font-weight:bold;
}

#header .header_title {
	font: bold 30px/1.2em Georgia, Times, "Times New Roman", serif;
}







/***********************************
*         COLOR SCHEME STYLES
************************************/

/* ### __CONTAINERS__ ### */

body {
background: url("/assets/sites/338/imgs/bg_body.gif") repeat-x scroll left top #FFFFFF;	
color: #333;
}

#bottom {
	border-top: 1px solid #FFF;
}

body.nav_horizontal #content {
	border: 1px solid #cac9bf;
	background: #FFF;
	margin: 1px 0px 0px 0px;
}


/* ### __LINKS__ ### */

#content a {
	color: #900;
	border-bottom: 1px dashed #900;
}

#content a:hover {
	border-bottom: none;
}


/* ### __HEADERS__ ### */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	border: none !important;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	color: #c64c4a !important;
}


/* ### __HORIZONTAL NAVIGATION__ ### */

body.nav_horizontal #navbar {
	background: #333;
	border-bottom: 1px solid #888;
}

body.nav_horizontal #navbar ul#nav li {
	border-right: 1px solid #CCC;
}

body.nav_horizontal #navbar ul#nav li a {
	color: #CCC;
}

body.nav_horizontal #navbar ul#nav li a:hover, body.nav_horizontal #navbar ul#nav li:hover a, body.nav_horizontal #navbar ul#nav li a.selected {
	background-color: #900;
}

body.nav_horizontal #navbar ul#nav li ul li {
	background: #900;
	border-bottom: 1px solid #CCC;
}

body.nav_horizontal #navbar ul#nav li ul li a:hover {
	background: #ab332f !important;
}



/* ### __VERTICAL NAVIGATION__ ### */

body.nav_left #inner, body.nav_right #inner {
	background: #FFF;
}

body.nav_left #navbar, body.nav_right #navbar {
	background: #262626;
	color: #CCC;
}

body.nav_left #navbar ul#nav li a, body.nav_right #navbar ul#nav li a {
	color: #CCC;
}

body.nav_left #navbar ul#nav li a:hover, body.nav_left #navbar ul#nav li:hover a, body.nav_left #navbar ul#nav li.expanded a,
body.nav_right #navbar ul#nav li a:hover, body.nav_right #navbar ul#nav li:hover a, body.nav_right #navbar ul#nav li.expanded a {
	background-color: #000;
}

body.nav_left #navbar ul#nav li ul li a, body.nav_right #navbar ul#nav li ul li a {
	background: #990000 !important;
	border-bottom: 0px solid #CCC;
}

body.nav_left #navbar ul#nav li ul li a:hover, body.nav_left #navbar ul#nav li ul li a.current,
body.nav_right #navbar ul#nav li ul li a:hover, body.nav_right #navbar ul#nav li ul li a.current {
	background: #a62422 !important;
}


/* ### __CONTACT PANEL__ ### */

body.nav_horizontal #content .contact_panel li {
	color: #999;
	border-right: 1px solid #999;
}

body.nav_horizontal #content .contact_panel li:last-child {
	border-right: none !important;
}

body.nav_left #navbar .contact_panel,
body.nav_right #navbar .contact_panel {
	color: #e9e8d6;
}

body.nav_left #navbar .contact_panel a,
body.nav_right #navbar .contact_panel a {
	color: #e9e8d6;
	border-bottom: 1px dashed #e9e8d6;
}

body.nav_left #navbar .contact_panel a:hover,
body.nav_right #navbar .contact_panel a:hover {
	color: #e9e8d6;
	border-bottom: 0px dashed #e9e8d6;
}


/* ### __EVENTS__ ### */

#events a small {
	color:#666;
}


/* ### __DIRECTORY__ ### */

.entry img {
	border: 5px solid #e8e8e8;
}

.entry a:hover img {
	border: 5px solid #CCC;
}


/* ### __BASIC B & C__ ### */

ul.history_dates li.odd {
	background: #fffae5;
}

ul.history_dates li.even {
	background: #fbfbfb;
}


/* ### __HTML CONTAINER IMAGES__ ### */

#content .html_container img {
	border: 5px solid #e8e8e8 !important;
}

#content .html_container a:hover img {
	border: 5px solid #CCC !important;
}
#content .html_container ul li {

}

/* ### custom ### */
#content .main{
	padding: 0px!important;
}
#content .swap_cols .sidebar {
	padding: 0px !important;
	border-width: 0px !important;
}
#content .main_side {
	width:700px !important;
}
#content .left_img  img{
	border: 0px !important;
	max-width: 220px !important;
}

table.phil-placement-table{
	margin: 0 20px 0 20px;
	border:5px solid #e8e8e8;
	padding:3px;
	width:650px;
}

table.phil-placement-table td {
	border-bottom: 1px solid #aaa;
	padding:3px;
}

table.phil-placement-table th{
	background-color:#e8e8e8;
	font-weight:bold;
	padding:5px;
}

table.phil-placement-table caption {
	text-align:left;
	font-size:large;
	color:#aaa;
}


table.phil-undergrad-requirements {
	margin: 0 20px 0 20px;
	border:5px solid #e8e8e8;
	padding:3px;
}       

table.phil-undergrad-requirements td.mynumbercell {
	border-bottom:1px solid #aaa;
	padding:3px;
	font-weight:bold;
	font-size:large;
}	

table.phil-undergrad-requirements td.mytitlecell {
	border-bottom:1px solid #aaa;
	padding:3px;
	font-weight:bold;
	text-align:center;
}

table.phil-undergrad-requirements td.myrightcell {  
	padding:3px;
	border-bottom:1px solid #aaa;
	background-color:#fefff0;
} 

/* Fix horizontal navigation bar issue when zooming out */
body.nav_horizontal #navbar ul#nav li a {
	width:138px !important;
}






