/* ### __HTML RESET__ ### */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}


table, caption, tbody, tfoot, thead, tr, th, td {
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
}

input, select, option, textarea {
	font-weight: inherit;
	font-style: inherit;
	font-size: inherit;
	font-family: inherit;
	outline: none;
}

input[type="checkbox"], input[type="radio"] {
	vertical-align: sub;
}

/* remember to define focus styles! */
:focus, a, img, embed, object {
	outline: 0;
}

ol, ul {
	list-style: none;
}

/* ### __BASIC HTML__ ### */

body {
	margin: 0;
	padding: 0 0 40px 0;
	color: #454442;
	text-align: center;
	line-height: 1;
	font: normal 11px/13px Verdana, Arial, sans-serif;
}

pre {
	text-align: left;
	color: #454442;
}

a:link, a:visited, a:active, a:hover {
	color: #900;
	text-decoration: none;
}

a.img_link {
	text-decoration: none !important;
	border: none !important;
}

/* ### __CONTAINERS__ ### */

#container {
	width: 980px;
	margin: 0 auto;
	text-align: left;
	background: #FFF;
}

#inner, #bottom {
	overflow: hidden;
}


/* ### __BRANDING BAR__ ### */

#branding {
	height: 185px;
	position: relative;
}

#branding a#top_bar, #branding a#college_logo, #branding a#small_usc_logo {
	display: block;
	height: 66px;
	text-indent: -9999em;
}

#branding a#college_logo {
	width: 320px;
	height: 80px;
	position: absolute;
	top: 85px;
	left: 25px
}

#branding a#small_usc_logo {
	width: 65px;
	height: 45px;
	position: absolute;
	right: 10px;
	top: 38px;
}

#branding #search {
	position: absolute;
	top: 100px;
	right: 15px;
}


/* ### __HEADER__ ### */

#site_header {
	display: none;
}

#header {
	position: relative;
	line-height: 0.001em;
	width: 980px;
	overflow: hidden;
}

.header_img_outer {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}

.header_img_inner {
	position: relative;
}

#header .header_overlay {
	position: absolute;
	z-index: 50;
	width: 100%;
}

#header .header_title {
	position: absolute;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.5em;
	z-index: 100;
	display: block;
	width: 100%;
}

#header .header_title a {
	display: block;
	padding: 10px;
}

#header .header_tl {
	top: 0px;
	left: 0px;
}

#header .header_tr {
	top: 0px;
	right: 0px;
	text-align: right;
}

#header .header_bl {
	bottom: 0px;
	left: 0px;
}

#header .header_br {
	bottom: 0px;
	right: 0px;
	text-align: right;
}

/* ### __FOOTER NAVIGATION__ ### */

#footer_nav {
	display: table;
	overflow: hidden;
	white-space: nowrap;
	margin: 0 auto;
}

#footer_nav li {
	display: block;
	float: left;
	margin: 10px 15px;
	text-transform: uppercase;
}

#footer_nav a {
	display: block;
	color: #333;
	font-size: 0.95em;
}


/* ### __HTML CONTAINER (WYSIWYGs)__ ### */

.html_container sub {
	vertical-align: sub;
}
.html_container sup {
	vertical-align: super;
}
.html_container p {
	margin: 1.2em 0;
}
.html_container blockquote {
	padding: 0 0 0 50px;
}


/* ### __MISC CLASSES__ ### */

br.clear {
	display: block;
	clear: both;
	height: 1px;
	overflow: hidden;
	line-height: 0.001em;
	visibility: hidden;
	content: " ";
}

.cf:before,
.cf:after {
	content:"";
	display:table;
}

.cf:after {
	clear:both;
}

.cf {
	zoom:1;
}