---
layout: default
---

<h1> General Information </h1> 

<nav>
  <ul>
    <li><a href="{{site.baseurl}}/Teaching/Resources">Resources</a></li>
    <li><a href="{{site.baseurl}}/Teaching/Grading">Grading Information</a></li>
     <li><a href="{{site.baseurl}}/Teaching/Check">Essay Check List</a></li>

  </ul>
</nav>

<nav>
  <ul>
    <li><a href="{{site.baseurl}}/course/" class="{% if page.url contains 'news' %}current{% endif %}">Planetary News</a></li>
    <li><a href="{{site.baseurl}}/recently-discovered/" class="{% if page.url contains 'recently-discovered' %}current{% endif %}">Recently Discovered Planets</a></li>
  </ul>
</nav>

{{content}}
