---
layout: default
---

<h1> General Information </h1> 

<nav>
  <ul>
      <li><a href="{{site.baseurl}}/contact">Contact</a></li>
      <li><a href="{{site.baseurl}}/contact/office">Office Hours</a></li>
    <li><a href="{{site.baseurl}}/resources">Philosophy Resources</a></li>
    <li><a href="{{site.baseurl}}/resources/grading">Grading Information</a></li>
     <li><a href="{{site.baseurl}}/resources/check">Essay Check List</a></li>
     <li><a href="http://www.njcu.edu/philosophyreligion/why-philosophy">More Philosophy</a></li>
     <li><a href="https://www.math.uh.edu/~tomforde/undergraduates.html">Information for Undergraduates </a>(via Tom Forde)</li>
     <li><a href="{{site.baseurl}}/resources/extracredit">Extra Credit</a></li>
           <li><a href="{{site.baseurl}}/resources/policies">NJCU Policies</a></li>
     <li><a href="http://blackboard.njcu.edu">Blackboard</a></li>
     <li><a href="https://www.theguardian.com/technology/2017/oct/05/smartphone-addiction-silicon-valley-dystopia">No smartphones!</a> I do not allow internet connected devices in my classes. This article has links that explain why. </li>
    <li><a href="https://www.youtube.com/watch?v=2q0NlWcTq1Y">How to avoid plagiarism.</a> A short video from Bainbridge State College. </li>
  </ul>
</nav>


{{content}}
